<!--
  This template loads for the 'tab.food-list' state (app.js)
  'food' is a $scope variable created in the FoodCtrl controller (controllers.js)
  The FoodCtrl pulls data from the data service model (data.js)
   The data service returns an array of food objects (data)
-->
<ion-view view-title="{{food.name}}"><!-- Title taken from name of object selected on tab-food.html page -->
  <ion-content class="padding">
  <div class="list card">

  <div class="item item-avatar">
    <img src="{{food.icon}}">
	<div>
	<!-- ***This is where I intended to add selected Food Group to increment 
	        Calorie Counter on tab-home.html but keep getting NaN error! ***
	<button class="button button-assertive" onclick="incDec('+ "{{food.calories}}"')">
  Add Calories
</button>
-->
</div>
    <h2>BurnBaby Calories Score:</h2><h1>{{food.calories}}</h1><!-- Ionic card to display food cat object & calories value -->
		
  </div>

  <div class="item item-body">
    <img class="full-image" src="{{food.image}}"><!-- display full image property of food object within ionic card -->
		
    <p>
      {{food.Description}}<!-- display description property of food object -->
		
    </p>
  </div>
  
	
  </ion-content>
</ion-view>
