<!-- Effectively my App's Homepage --> 

<ion-view view-title="BurnBaby" >
  <ion-content class="padding">
  <div class="list card"><!-- Ionic cards used to display/divide content on home page -->
      <div class="item item-divider">BurnBaby Daily Target:</div><!-- Daily target user has to aim to get --> 
      <div class="item item-body">
        <div><b>
          2,820
        </b></div>
      </div>
    </div>
	<div class="list card"><!-- Display current counter of calories -->
      <div class="item item-divider">Calories Counter (Kal)</div>
      <div class="item item-body">
	  <!-- div name so can accessed by javascript function -->
        <h1><div id ="Calories">
          0
        </div></h1>
      </div>
    </div>
  
	  <div class="list card">
      <div class="item item-divider">Enter Calories (Kal):</div><!-- Buttons calling javascript function to increment counter -->
      <div class="item item-body">
        <div>
		 <button class="button button-assertive" onclick="incDec('+1')">
		  +1</button>
 
          <button class="button button-assertive" onclick="incDec('+10')">
          +10</button>
  
          <button class="button button-assertive" onclick="incDec('+50')">
          +50</button>
          <button class="button button-assertive" onclick="incDec('+100')">
          +100</button>
		  <p>*Click Food/Drinks tab to check for Calories</p><!-- Unfortunately the user has to look for calorie of food in the
			the food/drinks tab and enter it manually here. The original plan was to add it on each food object's food-list.html 
			page, getting the value to increment counter by from the food object's 'calorie' property.
		  -->
        </div>
      </div>
    </div>
	
	
	  <div class="list card">
      <div class="item item-divider">Enter Activity (30 mins):</div><!-- Same as above, the intention was to subtract calories
	   from the Calorie Counter on the Activity-list.html page getting an Activity object's calorie property and calling javascript
	   function to decrement counter. Instead counter is decremented via the buttons below with pre-set values.
		-->
      <div class="item item-body">
        <div>
		 <button class="button button-positive" onclick="incDec('-850')">
		  Run</button>
 
          <button class="button button-positive" onclick="incDec('-1000')">
          Swim</button>
  
          <button class="button button-positive" onclick="incDec('-750')">
          Cycle</button>
          <button class="button button-positive" onclick="incDec('-800')">
          Gym</button>
        </div>
      </div>
    </div>
	

    <div class="list card"><!-- Display updates to user based on Calorie Counter -->
      <div class="item item-divider">BurnBaby Update</div>
      <div class="item item-body">
        <div id="myDiv">
		Eat less or or start burning it off! Simple maths.

        </div>
      </div>
    </div>
	
	 <div class="list card"><!-- display iframe of fitness website - could also pull blog rss feeds here -->
      <div class="item item-divider">Blogs</div>
      <div class="item item-body">
	    <div>Improve your Health & Fitness by improving your knowledge:</div>
		<p></p>
        <div class='myIframe'><!--CSS class invoked -->
		  <iframe src=http://www.livestrong.com/blog/&output=embed >    
            </iframe>
   
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

